body{
font-family: 'Roboto', sans-serif;
width: 100%;
padding: 0;
margin:0;
font-size: 1vw;
height: 100%;
}
#navBar{
  display: inline-block;
  top:0;
  left: 0;
  width: 100%;
  padding: 0.5em;
  background-color: #00b368;
  box-sizing: border-box;
  vertical-align: middle;
}
.navbutton{
  color: black;
  background-color:transparent;
  padding: 0.25em 1em;
  cursor: pointer;
  border:none;
  font-family: 'Epilogue', sans-serif;
  vertical-align: bottom;
  transition: 0.25s;
}
.navbutton:hover{
  color:black;
  background-color: #00e887;
  padding-left: 2em;
  padding-right: 2em;
}
#sidebar_button{
  fill:black;
  height: 2em;
  width: 2em;
  vertical-align: middle;
  margin-left: 0.25em;
  transition: 0.25s;
}
#sidebar_button:hover{
  fill:#00e887;
  cursor: pointer;
}
#sidebar{
  display: block;
  position: fixed;
  box-sizing: border-box;
  height: 100%;
  width: 15%;
  left: 0;
  padding: 1em;
  background-color: #81d4b1;
}
#sidebar_page_links{
  list-style-type: none;
}
#sidebar_page_links li{
  margin:0.5em;
  margin-left: -2.5em;
}
#content-area{
  display: block;
  position: absolute;
  height: 92%;
  width: 100%;
}
#page-content{
  display: inline-block;
  position: absolute;
  width:83%;
  height:98%;
  right:0;
  padding:1%;
  overflow-y: scroll;
}
h1{
font-family: 'Epilogue', sans-serif;
}
#feature_box{
display:block;position:relative;border:thin solid;width:25%;padding:1em;margin-left:1%;margin-bottom:1%;float:right;text-align:center;

}
.details_header{
  background-color:#81d4b1;padding:0.2em;margin-bottom:0.25em;font-size:1.1em;
}
.detail_name{
  font-weight:bold;
  color:#00b368;
}
